.app {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 20% 1fr;
}

.ui-header {
	grid-column: 1 / span 2;
}

.ui-form {
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px;
	width: 1280px;
	grid-column: 1 / span 2;
}

.ui-form-element {
	grid-column: 1 / span 1;
	padding: 5px;
}

.ui-form label {
	display: inline-block;
	width: 150px;
	text-align: right;
	padding-right: 5px;
}

.ui-textbox {
	width: 250px;
	height: 200px;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

textarea {
	resize: none;
}

.ui-slider {
	vertical-align: middle;
}

.ui-wave-parameters {
	margin: 5px;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
}

.app select {
	display: block;
	margin: 5px;
}

.ui-controls {
	border-style: solid;
	border-width: 2px;
	background-color: #ffe6b3;
	padding: 5px;
}